extends layout 

block content 
  h1= title 
  hr

  form(method="POST")
    div.form-group
      label(for="name") Item name: 
      input.form-control#name(type="text", name="name", value=(item ? item.name : ""))
    div.form-group
      label(for="description") Description: 
      input.form-control#description(type="text", name="description", value=(item ? item.description : ""))
    div.form-group
      label(for="price") Price: 
      input.form-control#price(type="number", name="price", value=(item ? item.price : 0))
    div.form-group
      label(for="inStock") In Stock: 
      input.form-control#inStock(type="number", name="inStock", value=(item ? item.inStock : 0))
    div.form-group
      label(for="category") Category: 
      select.form-control#category(name="category")
        //- option(value='') --Please select a category--
        for category in categories
          if item
            if item.category.toString() === category.id.toString()
              option(value=category.id selected) #{category.name}
            else 
              option(value=category.id) #{category.name}
          else 
            option(value=category.id) #{category.name}
    
    if errors 
      ul 
        each error in errors 
          li= error.msg
    button.btn.btn-success(type="submit")= item ? "Update" : "Create"
