extends layout 

block content
  h1= title

  p List of available Phones:
  hr

  if items.length
    div
      each item in items
        div
          h4
            a(href=`/categories/${item.category.name}/${item.id}`) #{item.name}
          p= item.description
  else
    p There are no #{title} available